@import '../../App.scss';

#info-item-container {
  width: 100%;
  padding: 5%;
  overflow-y: auto;
  line-height: 1.3em;
  display: flex;
  flex-direction: column;
  #last-seen {
    align-self: flex-end;
    margin-bottom: 1%;
    font-size: .7em;
  }
  .smaller-indented {
    margin-left: 5%;
    font-size: .8em;
  }
  .info-grid {
    display: grid;
    grid-template-columns: .17fr 1fr;
  }
  .gray {
    color: $gray;
  }
  ul {
    margin-top: 1%;
  }
  .guess-count {
    width: 100%;
    text-align: center
  }
}