#user-page {
  margin-top: 2%;
  .indent {
    margin-left: 3%;
  }
}

.songs-container {
  display: flex;
}

.progress-item-list-container {
  margin-left: 2%;
  display: flex;
  flex-direction: column;
  width: 60%;
  #list-header {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr .2fr .2fr;
    column-gap: 1%;
    color: rgb(160, 160, 160);
    div:nth-child(4) {
      justify-self: center;
    }
  } 
}

#right-fixed {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  #filter {
    margin-top: 10%;
    font-size: .8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 25%;
    max-width: 400px;
    max-height: 220px;
    border-radius: 15px;
    border: 1px solid gray;
    .line {
      margin: 10px;
      border-bottom: 1px solid gray;
      width: 90%;
    }
    #filter-grid {
      width: 90%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 5%;
      label {
        display: flex;
        align-items: center;
      }
    }
    #filter-loading {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .small-hearts {
        margin-right: 2%;
      }
    }
  }
}

#loader {
  font-weight: bold;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100vw;
}