@import '../../App.scss';

#home {
  margin-top: 3em;
  width: 100vw;
  display: flex;
  flex-direction: column;
  #get-extension {
    z-index: 2;
    top: 55vh;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bold;
    width: 12em;
    height: 5em;
    border-radius: 20px;
    align-self: center;
    // border: 2px solid $blue;
    color: white;
    background-color: $darker-blue;
    font-size: 1.3em;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: $blue;
    }
    &:active {
      // width: 14.8em;
      top: 55.1vh;
    }
  }
  .center-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .arrow {
    transform: rotate(90deg);
    // position: absolute;
    // align-self: center;
    width: 3em;
    // bottom: 0;
  }
  .hide {
    display: none;
  }
  #questions {
    border-radius: 10px;
    padding: 5%;
    line-height: 1.5em;
    align-self: center;
    margin-top: 10%;
    width: 70%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      color: $blue
    }
  }
}

#wavy-container {
  height: 70vh;
  position: relative;
  #wave {
    position: absolute;
    height: 100%;
    width: 100%;
    #wave-path {
      stroke: none;
      // fill: $darker-red;
      fill: url(#gradient)
    }
  }
  #wave-content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Helvetica, sans-serif;
    color: rgb(250,250,250);
    z-index: 1;
    position: absolute;
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
    @keyframes fadeIn {
      0% {opacity:0;}
      100% {opacity:1;}
    }
    h1 {
      font-size: 3.5em;
    }
    p {
      font-size: 1.1em;
    }
  }
}