#videoplayer {
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 58%;
  padding-bottom: 1%;
  .audio {
    width: 95%;
    height: 3em;
  }
  video {
    align-self: center;
    width: 95%;
    max-width: 95%;
    max-height: 85%;
    height: auto;
  }
  #video-info {
    font-size: .8em;
    margin-left: 3%;
    margin-right: 3%;
    #video-sub-info {
      display: flex;
      justify-content: space-between;
      color: lightgray;
      div:nth-child(2) {
        max-width: 45%;
      }
    }
  }
  h2 {
    margin-top: 1%;
    margin-bottom: 1%;
    font-weight: 300;
  }
}