@import '../../App.scss';

.form-container {
  width: 60%;
  max-width: 1000px;
  .header {
    .title {
      font-size: 2.5em;
      font-weight: 100;
      b {
        font-weight: 600;
      }
    }
    .already {
      color: $gray;
      a {
        color: $darker-blue;
        &:hover {
          color: $blue;
        }
      }
    }
  }
  .input-field {
    line-height: 3em;
    display: flex;
    flex-direction: column;
    label {
      color: $gray;
      font-size: .8em;
      &:focus {
        color: $amq-red;
      }
    }
    input {
      color: white;
      background-color: rgba(0,0,0,0);
      border: none;
      border-bottom: 1px solid gray !important;
      box-shadow: none !important;
      width: 100%;
      font-size: 1.2em;
      &:focus {
        outline: none;
        border-bottom: 1px solid $amq-red !important;
      }
    }
    .error-text {
      line-height: 1.5em;
      font-size: .9em;
      color: $amq-red;
    }
  }
  .submit-button {
    margin-top: 3%;
    height: 3em;
    width: 8em;
    background-color: $darker-blue;
    border: none;
    border-radius: 5px;
    color: white;
    &:hover {
      cursor: pointer;
      background-color: $blue;
    }
    &:active {
      box-shadow: inset 0px 0px 2px 0px rgba(0, 0, 0, 1);
    }
    &:focus {
      outline: none;
    }
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  // border: 1px solid green;
  box-shadow: 0 0 0px 1000px $base-gray inset;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $base-gray inset;
  // transition: background-color 5000s ease-in-out 0s;
}