@import '../../App.scss';

.pagetabs-container {
  margin-top: 1%;
  margin-bottom: 1%;
  width: 70%;
  align-self: center;
  justify-content: center;
  display: flex;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 2em;
  .current {
    background-color: $darker-red;
  }
  button {
    width: 11.1%;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $base-gray;
    border: 1px solid $lighter-gray;
    border-radius: 3px;
    &:hover {
      cursor: pointer;
      background-color: $lighter-gray;
    }
  }
}