$base-gray: rgb(47, 47, 57);
$lighter-gray: rgb(57, 57, 67);
$blue: #0099E0;
$amq-red: #E06E77;
$gray: rgb(160,160,160);

#root, body {
  background-color: $base-gray;
  color: white;
  font-family: Arial, Helvetica, sans-serif
}

.App {
  text-align: center;
}
