$base-gray: rgb(47, 47, 57);
$lighter-gray: rgb(57, 57, 67);
$darker-gray: rgb(37,37,37);
$darker-blue: #2b86b1;
$blue: #0099E0;
$amq-red: #E06E77;
$darker-red: rgb(177, 84, 92);
$gray: rgb(160,160,160);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

#root, body {
  background-image: linear-gradient(rgb(77,77,87), $base-gray 30%);
  color: white;
  font-family: 'Open Sans', sans-serif
}

.App {
  text-align: center;
}

.container {
  height: calc(100vh - 3em);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}